+++
tags = [ "testng", "create", "micropub",]
epistemic = "seedling"
date = "2022-09-29T20:26:23.311Z"
lastmod = "2022-09-29T20:26:23.311Z"
+++
This is a test of the new micropub awesomeness.